<div class="row mt-5">

    <div class="col-md-6 card-body">

        <div class="formulario-registro">
            <h2>Crear Persona</h2>
            <form [formGroup]="personaForm" (ngSubmit)="guardar()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" formControlName="apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input type="number" formControlName="edad" class="form-control">
                </div>
                <div class="form-group">
                    <label>Pais</label>
                    <select name="pais" id="pais" formControlName="pais" class="form-control">
                        <option [ngValue]="item" *ngFor="let item of paises">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <select name="estado" id="estado" formControlName="estado" class="form-control">
                        <option [ngValue]="item" *ngFor="let item of estados">{{item.nombre}}</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="personaForm.invalid">Guardar</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 card-body">
        <div class="formulario-registro">
            <h2>Personas Registrados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Pais</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of personas">
                        <td>{{item.id}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.edad}}</td>
                        <td>{{item.pais.nombre}}</td>
                        <td>{{item.estado.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-success"(click)="editar(item)">Editar</button>
                            <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>